
.newsOfCard{
    display:  flex;
    justify-content: space-between;
}

.imgOfimgOfBigBlockTopCities{
    float:  left;display:  inline-block;
}


.mainEvent ul,.prelims ul,.earlyPrelims ul{
    margin-top: 3% !important;
    display:  flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content:  center;
}

.textOfNewsOnBottom span{
    /* display:  table-cell; */
    /* vertical-align:  middle; */
    /* text-transform:uppercase; */
    /* line-height: 1.5; */
    /* font-size: 17px; */
}
.textOfNewsOnBottom span:hover{
    cursor:pointer;
    color:#3b4098

}

@media  only screen and (max-width :660px) {
    .mainSpecialPage{
        margin:10% auto !important
    }
}


.videoOfCard img {
    width: 100%;
}

.nameOfCityTopCities{
    float:  left;
    display:  inline-block;
    /* text-align:  center; */
    margin-left:  19%;
}
.imgBlock img{
    width:  100%;
    /* height: 1px; */
}


.insideMainBlock{
    margin: 1%;
    width: 98%;
    /* float:  left; */
    /* margin-left:  0; */
    padding-left:  0;
    overflow:  hidden;
    position:  relative;
    /* background: red; */
}

.blockWithFight{
    overflow:  hidden;
    background: #3f3f3f;
    /* height: 670px; */
}

@media  only screen and (max-width :860px) {


    .insideMainBlock{
        width: 98%;
    }
    #floatSideBar{
        display: none;
    }
}

@media  only screen and (max-width :1025px) {

    .topCitiesBySearching{
        width: 96%;
    }
    .imgOfTopCities img{
        width: 197px;

    }
    .mediumBlockHotNews{
        /*width: 46.6%;*/
    }

    .mainSpecialPage{
        width: 1012px !important;
    }
}

@media  only screen and (max-width :1277px) {

    .rightFloatingBlock{
        display: none;
    }
}

.mainImg{
    width: 49.2%;
    /* top: 27px; */
    margin: 21% 0 2% 0;
    display:  inline-block;
    /* height: 594px; */
    /* background: #66695f; */
    position:  relative;
}

.textOfMainImg{
    position:  relative;
    top: 0%;
    height: 87px;
    background: #bd1e1e;
}


.promotions img{
    width:  100%;
    height: 100%;
}

.mainImg img{
    width: 60%;
    height: 499px;
    text-align:  center;
    margin-left: 2%;
    position:  relative;
}

.promotions{overflow:  hidden;/* height:  60px; */position:  relative;margin: 1% auto 0% auto;/* width: 88%; *//* color: red; *//* background: #8d1c00; */}

.promotions ul li:first-child{}
.promotions ul li a{
    /* color: white; */
    text-transform:  uppercase;
    text-decoration:  none;
}
.promotions ul li{float:  left;margin: 0% 3% 0% 4%;height: 71px;width: 17%;height: 59px;cursor:  pointer;text-align:  center;font-size:  30px;/* background: aliceblue; *//* color:  red; */}

.schedule{overflow:  hidden;margin: 0%;}

.schedule ul li:first-child{

}
.schedule ul li{float:  left;margin: 0 2% 0 1%;/* height: 31px; */width: 3%;/* background: #961600; */font-size:  19px;text-align:  center;color:  white;cursor:  pointer;}


.dateOfEvent{overflow:  hidden;/* height:  31px; */margin: 0%;background: #4a4a4a;color: white;}

.dateOfEvent ul li:first-child{
}

.dateOfEvent ul li{float:  left;margin:  0 2% 0 1%;width:  12%;text-align:  center;height:  35px;font-size:  21px;}

.topMenuOfCard{overflow:  hidden;font-size:  18px;background: #3f3f3f;color:  white;}
.topMenuOfCard  li{
    float: left;
    margin-left: 1%;
    border: 1px solid #680f00;
}

.cardWindow{

}

.mainEvent ul li, .prelims ul li, .earlyPrelims ul li{
    /* float: left; */
    /* height: 109px; */
    display: f;
    width: 31%;
    margin: 1%;
    overflow:  hidden;
    position:  relative;
    border:  1px solid black;
    background:  #cfcfcf;
}
.cardWindow{
    overflow:  hidden;
    background: #3d3d3d;
}

.mainFight {
    width: 100%;
    /* height:  400px; */
    float:  left;
    background: radial-gradient(36% 141% ellipse at 50% 0,#2e2e2e -95%,#7d7d7d,transparent);
    position:  relative;
    border: 1px solid #003d8b;
}
.mainEvent ,.prelims,.earlyPrelims{
    overflow:  hidden;
    /* float: left; */
    width: 100%;
    /* margin: 3% 1% 1% 1%; */
    /* display:  flex; */
    /* flex-flow:  row wrap; */
}
.mainEvent ul li{
}
.prelims{}
.prelims ul li{
    height: 108px;
    width: 22%;
}

.prelims .leftImg img{/* right: 20px; */left: -30px;}
.prelims .rightImgLittle img{
    right: -22px;
}

.earlyPrelims{}
.earlyPrelims ul li {width:  22%;}


.earlyPrelims .leftImg img {
    left: -33px;
}
.earlyPrelims .rightImgLittle img{
    right: -22px;
}

.prelims .nameOfTopFighter{}
.prelims .nameOfBottomFighter{}

.earlyPrelims  .nameOfTopFighter{}
.earlyPrelims  .nameOfBottomFighter{}


.stat{
    position:  absolute;
    top: 100px;
    /* bottom: -80px; */
    /* left:  49%; */
    width: 28%;
    margin: 0px 35%;
    height: 74%;
    border: 0px solid #fbfbfb;
    /* background:  red; */
    padding:  0;
    text-align:  center;
    z-index: 8;
}


.nameOfMainEvent{
    width: 100%;
    /* border:  1px solid red; */
    margin: 0% auto;
    height: 32px;
    text-align:  center;
    color: white;
    background: #284d8a;
}

.centerBlock{color:  white;margin: 6% 0%;text-align:  center;/* width: 12px; */padding-top:  0px;height: 8%;padding: 0%;}

.mainEventName, .prelimsName , .earlyPrelimsName{float:  left;width: 98%;text-align:  center;height:  42px;background: #31498e;color:  white;font-size: 23px;margin: 1% 1% -2% 1%;}

.textOfCardName{
    position:  relative;
    top: 13%;
}

.rightImg img{
    margin-left: 38%;
}

.backForMainFight{
    width: 50%;
    /* height: 400px; */
    float: left;
    background: black;
}


.mainEventName{
    margin-top: 0;
}

.centerLine{
    border: 1px solid #31498e;
    position:  absolute;
    top: -3px;
    left:  50%;
    height: 97%;
    z-index: -1;
}

.statLeft{
    position: relative;
    top: -19px;
    width: 35%;
    left: -13px;
}

.nameOfLine{width: 47%;/* text-align:  center; *//* color: aliceblue; */display:  inline-block;background: #31498e;z-index:  10;/* border:  1px solid red; */margin: 0%;}

.statRight{position: relative;top: -40px;left: 72%;width: 35%;margin:  0;padding:  0;}

.nameOfFighter{
    /* width:  100%; */
    /* top: -38px; */
    position:  relative;
    margin-bottom: 40%;
    bottom: 6%;
}

.nameOfFighterLeft{
    width: 100%;
    right: 119px!important;
    top: -44px;
    font-size: 25px;
    left: -114px;
}

.nameOfFighterRight{width: 100%;left: 85%;top: -115px;font-size:  25px;}

.leftImg img{
    position: absolute;

    margin-left: -21%;

    z-index: 1;
    top: 13%;
}
.rightImgLittle img{
    float: right;
    position: relative;
    /* left: 34%; */
    margin-right: -26%;
    padding-left: 33%;
    top: 12px;
}
.imgOfAllCard{}

.nameOfTopFighter{
    text-align:  center;
    background: black;
    color:  white;
    z-index:  2;
    position:  absolute;
    width:  100%;
}

.nameOfBottomFighter{
    position:  absolute;
    bottom:  0;
    z-index:  2;
    width:  100%;
    text-align:  center;
    background:  black;
    color:  white;
}
.title span{
    font-size:20px
}

.mainSpecialPage{max-width: 1200px !important;background: #ffffff;}

.mainBottomFight{/* left: 16%; *//* top: 9px; */}

.title{background: #374593;color:  white;text-align:  center;/* font-size:  57px; */text-transform:  uppercase;/* height: 45px; */margin: 1% 0;padding: 1% 0;}

.blockOfNewsOnBottom{

    border: 1px solid white;
}

.imgBlock{}

.allVideoOfCard{
    overflow:  hidden;
    margin: 2%;
}
.textOfNewsOnBottom{
    margin:  6px;
    font-size:  16px;
}

.videoOfCard{
    float:  left;
    width: 14.6%;
    margin: 1%;
}