.searchVideo{
    margin: 2% auto;
    width: 59%;
    height:  39px;
}
.searchVideo input{
    width:  100%;
    height:  100%;
}

.textOfTopArticles {
    float: left;
    display: table;
    width: 56%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

.textOfTopArticles h4 {
    vertical-align: middle;
    display: table-cell;
}
.textOfTopArticles h4:hover {
    color: #342f85;
    cursor: pointer;
}


@media  only screen and (max-width :872px) {
    aside{
        display:none !important;
    }
    .videoMainBlock{
        width:100% !important;
    }
}


@media  only screen and (max-width :600px) {

    .commonBlock{
        margin:10% auto !important
    }
}


@media  only screen and (max-width :700px) {
    .mainEventVideo{
        width: 77% !important;
        margin:  0 auto;
        height: 360px !important;
        top: 0 !important;
        float:  none !important;
    }
    .listOfCards{float: none !important;width: 78% !important;}
    .videoOfCards{
        float:  none !important;
        overflow:  hidden;
        margin:  0 auto;
        width: 77% !important;
    }

}


.videoBlock{
    overflow:  hidden;
    width: 97%;
    margin: 4% auto;
    /* color: #e2e2e2; */
    background: #ffffff;
}

.mainEventVideo{
    float:  left;
    width: 37%;
    height: 250px;
    color: black;
    top: 40px;
    position:  relative;
}

.listOfCards{
    float:  left;
    margin:  0 auto;
    width: 63%;
    /* height: 137px; */
}
.listOfCards ul li{
    float:  left;
    margin: 1%;
    width: 31%;
    height:  26px;
}

.videoOfCards{
    /* overflow:  hidden; */
    float:  left;
    /* clear:  left; */
    width: 63%;
    /* height: 138px; */
}
.videoOfCards ul li {
    float:  left;
    width: 46%;
    height: 165px;
    margin:  0 auto;
    margin: 2%;
}

.streamsOnVideo{
    color: white;
    text-align:  center;
    overflow:  hidden;
}
.streamsOnVideo ul li{
    float:  left;
    width: 19%;
    height: 160px;
    margin: 1% 3%;
}

.allFightsFighters{
    text-align:  center;
    color: black;
    overflow:  hidden;
}

.allFightsFighters ul li{
    float:  left;
    margin: 1% 1%;
    width: 31%;
    height:  130px;
    color:  black;
}
.specialPageVideo{max-width: 1200px;overflow:  hidden;background: #ffffff;}

.videoMainBlock{
    background: #ffffff !important;
    width: 70%;
    float:  left;
}

.nameOfPromotion span{
    font-size: 30px;
}

.nameOfPromotion{
    text-align:  center;
    background: #2f3a7d;
    color:  white;
    text-transform:  uppercase;
}

.fights ul li{width: 31%;height:  235px;float:  left;margin: 1%;}